@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
  --color-primary: #000468;
  --color-btn: #cdcdcd;
  --font-style: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #DCDCDC;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}